body {
    background-color:rgb(216, 213, 209);
    color: rgb(14, 13, 13)
}
#start-btn {
    color:rgb(229, 224, 233);
    font-size: 25px;
    background-color: green;
    /* position of button*/
}
#start-btn:hover{
    background-color: rgb(31, 83, 31);
}
#start-btn:active {
    box-shadow: 0 0 10px #000 inset;
    background-color: rgb(31, 83, 31);
  }
 #start-btn:focus {
     background-color: rgb(216, 213, 209);
     color:rgb(216, 213, 209);
     box-shadow: 0 0 10px rgb(216, 213, 209) inset;
 } 
#questions {
    font-size: 20px;
    font-weight: bold;
    
}
/* This needs to be controling answer choice buttons*/
.optn-btn {
    background-color:  #2760b6;
    width: 8%;
    margin: 2% 0;
    padding: 1%;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
/* The user's cursor is positioned over the element */
.optn-btn:hover {
    background-color: #130d4b;
    color: #fff;
  }
  
  /* The user is actively pressing down on the element */
  .optn-btn:active {
    box-shadow: 0 0 10px #000 inset;
    background-color: rgb(95, 157, 238);
  }
  .optn-btn:focus {
      background-color: rgb(95, 157, 238);
  }

  @media (max-width: 740px) {
    .optn-btn {
      width: 48%;
  }
}
  @media (max-width: 740px) {
    #start-btn {
    width: 48%;
  }
}